// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#game-page {
   text-align: center;

}
#game-control {
   height: 60px;
   margin: auto;
}

#existing-games {
  width: 150px;
  display: block;
  margin: auto;
}

#new-game {
   margin: auto;
}

#about {
  width:500px;
  margin: auto;
  padding: 50px;
  font-size: 16px;
  a {
    color: white;
  }
}



#game-page {
  margin: auto;
}
